/* Estilos personalizados */

/* Ancho personalizado para la tarjeta del formulario */
.custom-card {
    width: 200%;
    max-width: 800%; /* Ajusta este valor según tus necesidades */
  }
  
  /* Ajustes de los campos del formulario */
  .custom-form-control {
    font-size: 1rem; /* Ajusta el tamaño del texto si es necesario */
    padding: 10px; /* Ajusta el padding para mayor comodidad */
  }
  
  /* Ajustes para los botones */
  .custom-btn {
    font-size: 1rem; /* Ajusta el tamaño del texto del botón */
    padding: 10px; /* Ajusta el padding del botón */

  }
  .btn-cancel-custom{
    background-color: darksalmon;

  }
  
  /* Ajustes para el espaciado entre los botones */
  .btn-custom-spacing {
    margin-right: 10px; /* Ajusta el margen derecho entre los botones */
  }
  