/* styles/ForgotPassword.css */
.card {
    max-width: 400px; /* Ajusta el tamaño de la tarjeta */
  }
  
  .btn-custom-spacing {
    margin-right: 10px; /* Ajusta la separación entre los botones */

  }
  
  .input-custom-size {
    height: 45px; /* Ajusta la altura del input */
    font-size: 16px; /* Ajusta el tamaño de la fuente del input */
  }
  .btn-cancel-custom{
    background-color: darksalmon;
  }
  